#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

8 대한민국 체력장 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/body/body.csv'
df = pd.read_csv(dataurl)
display(df.head(1))
display(df.shape)

,측정나이,측정회원성별,신장 : cm,체중 : kg,체지방율 : %,이완기혈압(최저) : mmHg,수축기혈압(최고) : mmHg,악력D : kg,앉아윗몸앞으로굽히기 : cm,교차윗몸일으키기 : 회,제자리 멀리뛰기 : cm,등급
0,59.0,M,175.0,70.6,19.2,91.0,150.0,40.6,12.2,30.0,179.0,C

(13396, 12)

전체데이터의 수축기혈압(최고) - 이완기혈압(최저)의 평균을 구하여라

In [2]:
(df['수축기혈압(최고) : mmHg'] - df['이완기혈압(최저) : mmHg']).mean()

52.19539414750672

50~59세의 신장평균을 구하여라

In [3]:
df[(df['측정나이'] >= 50) & (df['측정나이'] < 60)]['신장 : cm'].mean()

164.07490107405314

연령대 (20~29 : 20대 …) 별 인원수를 구하여라

In [4]:
df['연령대'] = df['측정나이'] // 10 * 10
df['연령대'].value_counts()
# (df['측정나이'] // 10 * 10).value_counts()

20.0    5831
30.0    2660
40.0    1801
50.0    1769
60.0    1335
Name: 연령대, dtype: int64

연령대 (20~29 : 20대 …) 별 등급의 숫자를 데이터 프레임으로 표현하라

In [5]:
df.groupby(['연령대','등급'], as_index=False).size()

     연령대 등급  size
0   20.0  A  1585
1   20.0  B  1443
2   20.0  C  1455
3   20.0  D  1348
4   30.0  A   743
5   30.0  B   697
6   30.0  C   626
7   30.0  D   594
8   40.0  A   386
9   40.0  B   428
10  40.0  C   455
11  40.0  D   532
12  50.0  A   321
13  50.0  B   410
14  50.0  C   474
15  50.0  D   564
16  60.0  A   314
17  60.0  B   371
18  60.0  C   339
19  60.0  D   311

남성 중 A등급과 D등급의 체지방률 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [6]:
df[(df['측정회원성별'] == 'M') & (df['등급'] == 'D')]['체지방율 : %'].mean() - \
    df[(df['측정회원성별'] == 'M') & (df['등급'] == 'A')]['체지방율 : %'].mean()

7.932086486137521

여성 중 A등급과 D등급의 체중의 평균의 차이(큰 값에서 작은 값의 차)를 구하여라

In [7]:
df[(df['측정회원성별'] == 'F') & (df['등급'] == 'D')]['체중 : kg'].mean() -\
    df[(df['측정회원성별'] == 'F') & (df['등급'] == 'A')]['체중 : kg'].mean()

5.176211590296504

bmi는 자신의 몸무게(kg)를 키의 제곱(m)으로 나눈값이다. 데이터의 bmi 를 구한 새로운 컬럼을 만들고 남성의 bmi 평균을 구하여라

In [8]:
df['bmi'] = df['체중 : kg'] / ((df['신장 : cm']/100) ** 2)
df[df['측정회원성별']=='M']['bmi'].mean()

24.46134409819308

bmi보다 체지방율이 높은 사람들의 체중평균을 구하여라

In [9]:
df[df['체지방율 : %'] > df['bmi']]['체중 : kg'].mean()

61.7408806392542

남성과 여성의 악력 평균의 차이를 구하여라

In [10]:
df[df['측정회원성별'] == 'M']['악력D : kg'].mean() - df[df['측정회원성별'] == 'F']['악력D : kg'].mean()

17.55954185047464

In [11]:
df.groupby('측정회원성별')['악력D : kg'].mean()

측정회원성별
F    25.805845
M    43.365387
Name: 악력D : kg, dtype: float64

남성과 여성의 교차윗몸일으키기 횟수의 평균의 차이를 구하여라

In [12]:
df1 = df.groupby('측정회원성별')['교차윗몸일으키기 : 회'].mean()
df1.M - df1.F

14.243156833157627