#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

10 서비스 이탈예측 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/churn/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,6842,15793491,Cherkasova,714,Germany,Male,26,3,119545.48,2,1,0,65482.94,0
1,8963,15607874,Keane,687,France,Male,38,0,144450.58,1,0,1,137276.83,0

(7999, 14)

남성 이탈(Exited)이 가장 많은 국가(Geography)는 어디이고 이탈 인원은 몇명인가?

In [2]:
df[df['Gender'] == 'Male'].groupby(['Geography']).sum()['Exited'].sort_values(ascending=False)[0:1]

Geography
Germany    287
Name: Exited, dtype: int64

**카드를 소유(HasCrCard ==1)하고 있으면서 활성멤버(IsActiveMember ==1) 인 고객들의 평균 나이를 소숫점이하 4자리까지 구하여라? **

In [3]:
df[(df['HasCrCard'] == 1) & (df['IsActiveMember'] == 1)]['Age'].mean().round(4)

39.6102

Balance 값이 중간값 이상을 가지는 고객들의 CreditScore의 표준편차를 소숫점이하 3자리까지 구하여라

In [4]:
df[df['Balance'] >= df['Balance'].median()]['CreditScore'].std().round(3)

97.295