#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

12 자동차 보험가입 예측데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/insurance/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,id,Gender,Age,Driving_License,Region_Code,Previously_Insured,Vehicle_Age,Vehicle_Damage,Annual_Premium,Policy_Sales_Channel,Vintage,Response
0,188957,Female,25,1,17.0,1,< 1 Year,No,38785.0,152.0,59,0
1,275631,Male,20,1,22.0,0,< 1 Year,No,2630.0,160.0,113,0

(304887, 12)

Vehicle_Age 값이 2년 이상인 사람들만 필터링 하고 그중에서\
Annual_Premium 값이 전체 데이터의 중간값 이상인 사람들을 찾고,\
그들의 Vintage값의 평균을 구하여라

In [2]:
df[(df['Vehicle_Age'] == '> 2 Years') & (df['Annual_Premium'] >= df['Annual_Premium'].median())]['Vintage'].mean()

154.43647182359118

vehicle_age에 따른 각 성별(gender)그룹의 Annual_Premium값의 평균을 구하여 아래 테이블과 동일하게 구현하라

In [3]:
df.groupby(['Vehicle_Age','Gender'])['Annual_Premium'].mean().unstack()

Gender             Female          Male
Vehicle_Age
1-2 Year     30762.245001  30413.088469
< 1 Year     29972.286702  30310.982212
> 2 Years    36108.366374  35303.870627

In [4]:
df1 = df.groupby(['Vehicle_Age','Gender'], as_index=False)['Annual_Premium'].mean()
df1.pivot(index='Vehicle_Age', columns='Gender')
# df1.pivot(index='Vehicle_Age', columns='Gender', values='Annual_Premium')

            Annual_Premium
Gender              Female          Male
Vehicle_Age
1-2 Year      30762.245001  30413.088469
< 1 Year      29972.286702  30310.982212
> 2 Years     36108.366374  35303.870627