#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

13 핸드폰 가격 예측데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/mobile/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,battery_power,blue,clock_speed,dual_sim,fc,four_g,int_memory,m_dep,mobile_wt,n_cores,...,px_height,px_width,ram,sc_h,sc_w,talk_time,three_g,touch_screen,wifi,price_range
0,842,0,2.2,0,1,0,7,0.6,188,2,...,20,756,2549,9,7,19,0,0,1,1
1,1021,1,0.5,1,0,1,53,0.7,136,3,...,905,1988,2631,17,3,7,1,1,0,2

(2000, 21)

price_range 의 각 value를 그룹핑하여 각 그룹의 n_cores 의 빈도가 가장높은 value와 그 빈도수를 구하여라

In [2]:
df.groupby(['price_range','n_cores']).size().sort_values().groupby('price_range').tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

In [3]:
# 데님 답안
df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)

C:\Users\John\AppData\Local\Temp\ipykernel_14464\3209629118.py:2: FutureWarning: In a future version of pandas all arguments of Series.sort_values will be keyword-only.
  df[['price_range','n_cores']].groupby(['price_range','n_cores']).size().sort_values(0).groupby(level=0).tail(1)

price_range  n_cores
0            2          69
3            5          70
2            4          73
1            1          76
dtype: int64

price_range 값이 3인 그룹에서 상관관계가 2번째로 높은 두 컬럼과 그 상관계수를 구하여라

In [4]:
df_corr = df[df['price_range'] == 3].corr().stack().sort_values(ascending=False)
df_corr.loc[~(df_corr == 1)].reset_index()[1:2]

  level_0 level_1         0
1      pc      fc  0.635166