#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

16 의료 비용 예측 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/MedicalCost/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

   age     sex    bmi  children smoker     region     charges
0   64  female  39.33         0     no  northeast  14901.5167
1   47  female  27.83         0    yes  southeast  23065.4207

(1070, 7)

흡연자와 비흡연자 각각 charges의 상위 10% 그룹의 평균의 차이는?

In [2]:
# 풀이와 코드는 다름
df_sm10 = df[df['smoker'] == 'yes']
df_smhigh = df_sm10[df_sm10['charges'] >= df_sm10['charges'].quantile(0.9)]['charges'].mean()
df_no10 = df[df['smoker'] == 'no']
df_nohigh = df_no10[df_no10['charges'] >= df_no10['charges'].quantile(0.9)]['charges'].mean()
df_smhigh - df_nohigh

29297.954548156144