#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

17 킹카운티 주거지 가격예측문제 데이터

In [1]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/kingcountyprice/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,8961990160,20150413T000000,567500.0,3,2.5,2080,4556,2.0,0,0,...,8,2080,0,1999,0,98074,47.6036,-122.014,1530,5606
1,9455200205,20140604T000000,525000.0,3,2.0,1540,7800,1.0,0,0,...,8,1540,0,2004,0,98125,47.7041,-122.288,1510,7800

(17290, 21)

bedrooms 의 빈도가 가장 높은 값을 가지는 데이터들의 price의 상위 10%와 하위 10%값의 차이를 구하여라

In [2]:
df_high10 = df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]]['price'].quantile(0.9)
df_low10 = df[df['bedrooms'] == df['bedrooms'].value_counts().index[0]]['price'].quantile(0.1)
df_high10 - df_low10

505500.0