#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

19 레드 와인 퀄리티 예측 데이터

In [1]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/redwine/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,5.0,0.38,0.01,1.6,0.048,26.0,60.0,0.99084,3.70,0.75,14.0,6
1,5.0,0.42,0.24,2.0,0.060,19.0,50.0,0.99170,3.72,0.74,14.0,8

(1279, 12)

In [2]:
df.columns

Index(['fixed acidity', 'volatile acidity', 'citric acid', 'residual sugar',
       'chlorides', 'free sulfur dioxide', 'total sulfur dioxide', 'density',
       'pH', 'sulphates', 'alcohol', 'quality'],
      dtype='object')

quality 값이 3인 그룹과 8인 데이터그룹의 각 컬럼별 독립변수의 표준편차 값의 차이를 구할때 그값이 가장 큰 컬럼명을 구하여라

In [3]:
(df[df['quality'] == 8].std() - df[df['quality'] == 3].std()).sort_values().index[-1]

'total sulfur dioxide'