#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

20 약물 분류 데이터

In [1]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/drug/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

   Age Sex      BP Cholesterol  Na_to_K  Drug
0   20   F  NORMAL      NORMAL    9.281     4
1   24   M    HIGH      NORMAL    9.475     1

(157, 6)

남성들의 연령대별 (10살씩 구분 0~9세 10~19세 …) Na_to_K값의 평균값을 구해서 데이터 프레임으로 표현하여라

In [2]:
df['연령대'] = df['Age'] // 10 * 10
df[df['Sex'] == 'M'][['연령대','Na_to_K']].groupby('연령대').mean()

       Na_to_K
연령대
10   13.627000
20   18.260769
30   15.244143
40   13.897273
50   14.811273
60   14.284308
70   11.363857