#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

23 현대 차량 가격 분류문제 데이터

In [1]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/hyundai/train.csv'
df = pd.read_csv(dataurl)
display(df.head(2))
display(df.shape)

,model,year,price,transmission,mileage,fuelType,tax(£),mpg,engineSize
0,Tucson,2016,12795,Manual,36263,Diesel,30,61.7,1.7
1,I10,2012,3995,Manual,22089,Petrol,20,61.4,1.2

(3888, 9)

정보(row수)가 가장 많은 상위 3차종의 price값의 각 평균값은?

In [11]:
df[df['model'].isin(df['model'].value_counts().index[:3])].groupby('model').mean()[['price']]

                price
model
 I10      7646.137891
 I30     11651.821759
 Tucson  15805.441373