#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

25 넷플릭스 주식 데이터

In [1]:
import pandas as pd

dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/nflx/NFLX.csv'
df = pd.read_csv(dataurl, parse_dates=['Date'])
display(df.head(2))
display(df.shape)

        Date      Open      High       Low     Close  Adj Close     Volume
0 2002-05-23  1.156429  1.242857  1.145714  1.196429   1.196429  104790000
1 2002-05-24  1.214286  1.225000  1.197143  1.210000   1.210000   11104800

(4874, 7)

매년 5월달의 open가격의 평균값을 데이터 프레임으로 표현하라

In [2]:
df1 = df.groupby(df['Date'].dt.strftime('%Y-%m')).mean()
df1[df1.index.str.contains('-05')]['Open'].to_frame()

               Open
Date
2002-05    1.155833
2003-05    1.641497
2004-05    4.261143
2005-05    1.951905
2006-05    4.163571
2007-05    3.159351
2008-05    4.435034
2009-05    5.790571
2010-05   14.417071
2011-05   34.650272
2012-05   10.523247
2013-05   31.936429
2014-05   51.121292
2015-05   85.057429
2016-05   92.705715
2017-05  158.255455
2018-05  329.779541
2019-05  359.664548
2020-05  433.880499
2021-05  496.923996