#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

5 전세계 행복도 지표 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/happy2/happiness.csv'
df = pd.read_csv(dataurl)
df.head(3)

   행복랭킹      나라명     점수  상대GDP  사회적지원  행복기대치  선택의 자유도    관대함  부패에 대한인식    년도
0     1  Finland  7.769  1.340  1.587  0.986    0.596  0.153     0.393  2019
1     2  Denmark  7.600  1.383  1.573  0.996    0.592  0.252     0.410  2019
2     3   Norway  7.554  1.488  1.582  1.028    0.603  0.271     0.341  2019

In [2]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   행복랭킹      312 non-null    int64
 1   나라명       312 non-null    object
 2   점수        312 non-null    float64
 3   상대GDP     312 non-null    float64
 4   사회적지원     312 non-null    float64
 5   행복기대치     312 non-null    float64
 6   선택의 자유도   312 non-null    float64
 7   관대함       312 non-null    float64
 8   부패에 대한인식  311 non-null    float64
 9   년도        312 non-null    int64
dtypes: float64(7), int64(2), object(1)
memory usage: 24.5+ KB

데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 10위를 차지한 나라의 행복점수의 평균을 구하여라

In [3]:
df[df['행복랭킹'] == 10]['점수'].mean()

7.259

데이터는 2018년도와 2019년도의 전세계 행복 지수를 표현한다. 각년도의 행복랭킹 50위이내의 나라들의 각각의 행복점수 평균을 데이터프레임으로 표시하라

In [4]:
df[df['행복랭킹'] <= 50][['년도','점수']].groupby('년도').mean()

           점수
년도
2018  6.64678
2019  6.67002

2018년도 데이터들만 추출하여 행복점수와 부패에 대한 인식에 대한 상관계수를 구하여라

In [5]:
df[df['년도'] == 2018][['점수','부패에 대한인식']].corr().iloc[0,1]

0.40529152271510027

2018년도와 2019년도의 행복랭킹이 변화하지 않은 나라명의 수를 구하여라

In [7]:

len(df)-len(df[['행복랭킹','나라명']].drop_duplicates())

15

2019년도 데이터들만 추출하여 각변수간 상관계수를 구하고 내림차순으로 정렬한 후 상위 5개를 데이터 프레임으로 출력하라. 컬럼명은 v1,v2,corr으로 표시하라

In [8]:
df2 = df[df['년도'] == 2019].corr().stack().to_frame().reset_index()
df2 = df2[df2[0] != 1].sort_values(0, ascending=False).drop_duplicates(0).head(5).reset_index(drop=True)
df2.columns = ['v1','v2','corr']
df2

      v1     v2      corr
0  행복기대치  상대GDP  0.835462
1  상대GDP     점수  0.793883
2  행복기대치     점수  0.779883
3  사회적지원     점수  0.777058
4  사회적지원  상대GDP  0.754906

각 년도별 하위 행복점수의 하위 5개 국가의 평균 행복점수를 구하여라

In [26]:
df.groupby('년도').tail().groupby('년도').mean()[['점수']]

          점수
년도
2018  3.1800
2019  3.1408

2019년 데이터를 추출하고 해당데이터의 상대 GDP 평균 이상의 나라들과 \
평균 이하의 나라들의 행복점수 평균을 각각 구하고 그 차이값을 출력하라

In [41]:
# 데이터마님 홈피에는 2019 데이터가 아닌 전체 데이터로 계산함. 그래서 값이 다름
df2 = df[df['년도'] == 2019] 
more = df2[df2['상대GDP'] >= df2['상대GDP'].mean()]['점수'].mean()
less = df2[df2['상대GDP'] <= df2['상대GDP'].mean()]['점수'].mean()
more-less

1.390483957219251

각년도의 부패에 대한인식을 내림차순 정렬했을때 상위 20개 국가의 부패에 대한인식의 평균을 구하여라

In [55]:
df.sort_values(['년도','부패에 대한인식'], ascending=False)\
    .groupby('년도').head(20).groupby('년도').mean()[['부패에 대한인식']]

      부패에 대한인식
년도
2018    0.3267
2019    0.3201

2018년도 행복랭킹 50위 이내에 포함됐다가 2019년 50위 밖으로 밀려난 국가의 숫자를 구하여라

In [96]:
df_18 = set(df[(df['년도'] == 2018) & (df['행복랭킹'] <= 50)]['나라명'])
df_19 = set(df[(df['년도'] == 2019) & (df['행복랭킹'] <= 50)]['나라명'])
len(df_18 - df_19)

4

2018년,2019년 모두 기록이 있는 나라들 중 년도별 행복점수가 가장 증가한 나라와 그 증가 수치는?

In [115]:
## 모루겠다~~ 하하하하하
df1 = df['나라명'].value_counts()
df1 = df1[df1 >= 2].index