#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

6 지역구 에너지 소비량 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/consum/Tetuan%20City%20power%20consumption.csv'
df = pd.read_csv(dataurl, parse_dates=['DateTime'])
display(df.head(1))
display(df.shape)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01,6.559,73.8,0.083,0.051,0.119,34055.6962,16128.87538,20240.96386

(52416, 9)

DateTime컬럼을 통해 각 월별로 몇개의 데이터가 있는지 데이터 프레임으로 구하여라

In [2]:
df['DateTime'].dt.month.value_counts().sort_index().to_frame()

    DateTime
1       4464
2       4032
3       4464
4       4320
5       4464
6       4320
7       4464
8       4464
9       4320
10      4464
11      4320
12      4320

3월달의 각 시간대별 온도의 평균들 중 가장 낮은 시간대의 온도를 출력하라

In [3]:
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour)['Temperature'].mean().sort_values().values[0]

11.506612903225806

3월달의 각 시간대별 온도의 평균들 중 가장 높은 시간대의 온도를 출력하라

In [4]:
df[df['DateTime'].dt.month == 3].groupby(df['DateTime'].dt.hour)['Temperature'].mean().sort_values(ascending=False).values[0]

18.393602150537635

Zone 1 Power Consumption 컬럼의 value값의 크기가 Zone 2 Power Consumption 컬럼의 value값의 크기보다 큰 데이터들의 Humidity의 평균을 구하여라

In [5]:
df[df['Zone 1 Power Consumption'] > df['Zone 2  Power Consumption']]['Humidity'].mean()

68.23624448055052

각 zone의 에너지 소비량의 상관관계를 구해서 데이터 프레임으로 표기하라

In [6]:
df[['Zone 1 Power Consumption','Zone 2  Power Consumption','Zone 3  Power Consumption']].corr()

,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
Zone 1 Power Consumption,1.000000,0.834519,0.750733
Zone 2 Power Consumption,0.834519,1.000000,0.570932
Zone 3 Power Consumption,0.750733,0.570932,1.000000

Temperature의 값이 10미만의 경우 A, 10이상 20미만의 경우 B,20이상 30미만의 경우 C, 그 외의 경우 D라고 할때 각 단계의 데이터 숫자를 구하여라

In [7]:
df.head(1)

,DateTime,Temperature,Humidity,Wind Speed,general diffuse flows,diffuse flows,Zone 1 Power Consumption,Zone 2 Power Consumption,Zone 3 Power Consumption
0,2017-01-01,6.559,73.8,0.083,0.051,0.119,34055.6962,16128.87538,20240.96386

In [8]:
def alpha(x):
    if x < 10: return 'A'
    elif x < 20: return 'B'
    elif x < 30: return 'C'
    else: return 'D'
df['sp'] = df['Temperature'].map(alpha)
df['sp'].value_counts()

B    26993
C    21105
A     2874
D     1444
Name: sp, dtype: int64

6월 데이터중 12시의 Temperature의 표준편차를 구하여라

In [9]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].std()

2.0499417827951025

6월 데이터중 12시의 Temperature의 분산을 구하여라

In [10]:
df[(df['DateTime'].dt.month == 6) & (df['DateTime'].dt.hour == 12)]['Temperature'].var()

4.202261312849163

Temperature의 평균이상의 Temperature의 값을 가지는 데이터를 Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [11]:
df[df['Temperature'] >= df['Temperature'].mean()].sort_values('Temperature')['Humidity'].values[3]

87.9

**Temperature의 중간값 이상의 Temperature의 값을 가지는 데이터를Temperature를 기준으로 정렬 했을때 4번째 행의 Humidity 값은?

In [12]:
df[df['Temperature'] >= df['Temperature'].median()].sort_values('Temperature')['Humidity'].values[3]

80.3