#### 빅분기 실기 연습중
https://www.datamanim.com/dataset/03_dataq/pandas_practice.html

데이터마님 영자님 감사합니다~~

7 포켓몬 정보 데이터

In [1]:
import pandas as pd
dataurl = 'https://raw.githubusercontent.com/Datamanim/datarepo/main/pok/Pokemon.csv'
df = pd.read_csv(dataurl)
display(df.head(1))
display(df.shape)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

(800, 13)

Legendary 컬럼은 전설포켓몬 유무를 나타낸다.\
전설포켓몬과 그렇지 않은 포켓몬들의 HP평균의 차이를 구하여라

In [2]:
target = df.groupby('Legendary')['HP'].mean()
target[1] - target[0]

25.55614861329147

Type 1은 주속성 Type 2 는 부속성을 나타낸다. \
가장 많은 부속성 종류는 무엇인가?

In [3]:
df['Type 2'].value_counts().index[0]

'Flying'

가장 많은 Type 1 의 종의 평균 Attack 을 평균 Defense로 나눈값은?

In [4]:
df1 = df[df['Type 1'] == df['Type 1'].value_counts().index[0]]
df1['Attack'].mean() / df1['Defense'].mean()

1.0165238678090576

포켓몬 세대(Generation) 중 가장많은 Legendary를 보유한 세대는 몇세대인가?

In [5]:
df[df['Legendary'] == True]['Generation'].value_counts()

3    18
5    15
4    13
6     8
1     6
2     5
Name: Generation, dtype: int64

'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed' 간의 상관 계수중 가장 절댓값이 큰 두 변수와 그 값을 구하여라

In [6]:
df_corr = df[['HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed']].corr().unstack().reset_index().rename(columns={0:'corr'})
df_corr[df_corr['corr'] < 1].sort_values('corr', ascending=False)[0:1]

    level_0  level_1      corr
26  Sp. Def  Defense  0.510747

각 Generation의 Attack으로 오름차순 정렬시 상위 3개 데이터들(18개)의 Attack의 전체 평균을 구하여라

In [7]:
df.sort_values(['Generation','Attack']).groupby('Generation').head(3)['Attack'].mean()

19.5

각 Generation의 Attack으로 내림차순 정렬시 상위 5개 데이터들(30개)의 Attack의 전체 평균을 구하여라

In [8]:
df.head(1)

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False

In [9]:
df.sort_values(['Generation','Attack'], ascending=False).groupby('Generation').head(5)['Attack'].mean()

157.23333333333332

가장 흔하게 발견되는 (Type1 , Type2) 의 쌍은 무엇인가?

In [10]:
df[['Type 1','Type 2']].value_counts().reset_index()[0:1]

   Type 1  Type 2   0
0  Normal  Flying  24

한번씩만 존재하는 (Type1 , Type2)의 쌍의 갯수는 몇개인가?

In [11]:
df1 = df[['Type 1','Type 2']].value_counts()
len(df1[df1==1])

39

한번씩만 존재하는 (Type1 , Type2)의 쌍을 각 세대(Generation)은 각각 몇개씩 가지고 있는가?

In [12]:
df1 = df[['Type 1','Type 2']].value_counts()
df2 = df1[df1==1].reset_index().values
lst = []

for value in df2:
    lst.append(df[(df['Type 1'] == value[0]) & (df['Type 2'] == value[1])])
    
pd.concat(lst).reset_index(drop=True)['Generation'].value_counts().sort_index()

1     1
2     4
3     5
4    13
5     7
6     9
Name: Generation, dtype: int64